.main-navigation {
  font-size: var(--fs-lg);
  font-weight: var(--fw-medium);

  ul {
    gap: var(--space-m-l);
  }

  & .current {
    text-decoration: underline;
  }

  @media (max-width: 576px) {
    font-size: var(--fs-sm);
  }
}
