/* --------------------------------------------------
   pages
-------------------------------------------------- */
.p-i-pages {
  padding-inline: clamp(20px, calc(7.5117vw + -8.169px), 100px);
}

/***    Home    ***/

.font-size-slogan {
  font-size: clamp(24px, calc(2.2535vw + 15.5493px), 48px);
}

.p-rentals-preview {
  padding: clamp(0px, calc(6.9444vw + -50px), 50px);
}

.m-bs-rentals-preview {
  margin-block-start: clamp(22px, calc(1.9718vw + 14.6056px), 43px);
}

.gap-rentals-preview {
  gap: clamp(10px, calc(4.6948vw + -7.6056px), 60px);
}

/***    Rental    ***/

.h-rental-carousel {
  height: clamp(255px, calc(15.0235vw + 198.662px), 415px);
}

.m-bs-rental-overview {
  margin-block-start: clamp(15px, calc(1.4085vw + 9.7183px), 30px);
}

.font-size-rental-title {
  font-size: clamp(18px, calc(1.6901vw + 11.662px), 36px);
}

.font-size-rental-location {
  font-size: clamp(14px, calc(0.3756vw + 12.5915px), 18px);
}

.m-bs-rental-tags {
  margin-block-start: clamp(10px, calc(0.939vw + 6.4789px), 20px);
}

.font-size-rental-tag {
  font-size: clamp(10px, calc(0.3756vw + 8.5915px), 14px);
}

.font-size-host-name {
  font-size: clamp(12px, calc(0.5634vw + 9.8873px), 18px);
}

.host-picture {
  width: clamp(32px, calc(3.0047vw + 20.7324px), 64px);
}

.m-bs-rental-details {
  margin-block-start: clamp(13px, calc(1.6901vw + 6.662px), 31px);
}

.gap-rental-details {
  gap: clamp(20px, calc(7.7778vw + -36px), 76px);
}

/***    About    ***/
.gap-about {
  gap: clamp(20px, calc(0.939vw + 16.4789px), 30px);
}

.m-i-about-expendable-details {
  margin-inline: clamp(0px, calc(10.1878vw + -38.2042px), 108.5px);
}

/***    Error    ***/
.gap-error {
  gap: clamp(113px, calc(2.4413vw + 103.8451px), 139px);
}

.font-size-error-title {
  font-size: clamp(96px, calc(18.0282vw + 28.3944px), 288px);
}

.font-size-error-message {
  font-size: clamp(18px, calc(1.6901vw + 11.662px), 36px);
}

.font-size-error-link {
  font-size: clamp(14px, calc(0.3756vw + 12.5915px), 18px);
}

/* --------------------------------------------------
   ui
-------------------------------------------------- */
/****    Header    ****/
.m-bs-header {
  margin-block-start: clamp(20px, calc(2.3474vw + 11.1972px), 45px);
}

.m-be-header {
  margin-block-end: clamp(27px, calc(2.1596vw + 18.9014px), 50px);
}

.p-i-header {
  padding-inline: clamp(20px, calc(7.5117vw + -8.169px), 100px);
}

.font-size-h {
  font-size: clamp(12px, calc(1.1268vw + 7.7746px), 24px);
}

/****    MainLogo    ****/
.main-logo {
  width: clamp(145px, calc(6.1033vw + 122.1127px), 210px);
}

/****    MainNavigation    ****/
.gap-menu {
  gap: clamp(26px, calc(2.9108vw + 15.0845px), 57px);
}

/****    Footer    ****/
.m-bs-footer {
  margin-block-start: clamp(27px, calc(2.1596vw + 18.9014px), 50px);
}

.p-bs-footer {
  padding-block-start: clamp(66px, calc(6.385vw + 42.0563px), 134px);
}

.p-be-footer {
  padding-block-end: clamp(29px, calc(-2.723vw + 68.2113px), 58px);
}

.font-size-f {
  font-size: clamp(12px, calc(1.1268vw + 7.7746px), 24px);
}

/****    Rating    ****/
.star-icon {
  width: clamp(18px, calc(1.6901vw + 11.662px), 36px);
}

/****    ExpendableDetails    ****/
.p-b-extendable-details-content {
  padding-block: clamp(6px, calc(0.939vw + 2.4789px), 16px);
}

.font-size-expendable-title {
  font-size: clamp(13px, calc(1.0329vw + 9.1268px), 24px);
}

.open-close-icon {
  width: clamp(24px, calc(0.7512vw + 21.1831px), 32px);
}
