/* Layout & Positioning Utilities */
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.min-h-screen {
  min-height: 100vh;
}
.max-w-screen {
  max-width: var(--vw-max);
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.object-cover {
  object-fit: cover;
}
.overflow-hidden {
  overflow: hidden;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}

/* Spacing Utilities */
/* Margin */
.mi-auto {
  margin-inline: auto;
}
.mis-3 {
  margin-inline-start: 0.75rem;
}

/* Padding */
.p-0 {
  padding: 0;
}
.p-4 {
  padding: 1rem;
}
.pi-4 {
  padding: 1rem;
}

/* Gap */
.gap-2 {
  gap: 0.5rem;
}
.gap-5 {
  gap: 1.25rem;
}

/* Typography Utilities */
/* Font Weight */
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}

/* Text Color */
.text-primary {
  color: var(--clr-primary);
}
.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}

/* Text Decoration */
.no-underline {
  text-decoration: none;
}
.underline {
  text-decoration: underline;
}

/* Text Align */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* Text Wrap */
.text-balance {
  text-wrap: balance;
}

/* Background Utilities */
.bg-primary {
  background-color: var(--clr-primary);
}
.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-neutral-200 {
  background-color: var(--clr-neutral-200);
}
.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}
.bg-transparent {
  background-color: transparent;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

/* Border & Outline Utilities */
.border-0 {
  border-width: 0;
}
.rounded-5 {
  border-radius: 5px;
}
.rounded-10 {
  border-radius: 10px;
}
.rounded-25 {
  border-radius: 25px;
}
.rounded-circle {
  border-radius: 50%;
}

/* Flexbox & Grid Utilities */
/* Flexbox */
.flex-column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-end {
  justify-content: end;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.grow-0 {
  flex-grow: 0;
}
.shrink-0 {
  flex-shrink: 0;
}
.basis-full {
  flex-basis: 100%;
}
.basis-50 {
  flex-basis: 50%;
}

/* Grid */
.grid-rows-hmf {
  grid-template-rows: auto 1fr auto;
}
.justify-items-center {
  justify-items: center;
}

/* Interactive Utilities */
/* Cursor */
.cursor-pointer {
  cursor: pointer;
}

/* User Select */
.select-none {
  user-select: none;
}

/* Effects */
/* Opacity */
.opacity-0 {
  opacity: 0;
}

/* Filters */
/* Brightness */
.brightness-60 {
  filter: brightness(60%);
}

/* Badge Utility */
.badge {
  padding-block: 0.5em;
  padding-inline: 2em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.5rem;
}
