.arrowLeft,
.arrowRight {
  top: 50%;
  transform: translateY(-50%);
  width: clamp(24px, calc(9.0141vw + -9.8028px), 120px);
}

.arrowLeft {
  left: 10px;
}

.arrowRight {
  right: 10px;
}

.indicator {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
}
