@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(../assets/fonts/Montserrat.woff2) format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

:root {
  /* SETTINGS */
  --min-viewport-width: 320px;
  --max-viewport-width: 1240px;
  --min-viewport-font-size: 18px;
  --max-viewport-font-size: 24px;

  /* FONT */
  --fs--sm: clamp(0.7813rem, 0.7191rem + 0.3109vw, 0.96rem);
  // (14) 12.5px - 15.36px
  --fs-md: clamp(0.9375rem, 0.8462rem + 0.4565vw, 1.2rem);
  // (18) 15px - 19.2px
  --fs-lg: clamp(1.125rem, 0.9946rem + 0.6522vw, 1.5rem);
  // (24) 18px - 24px
  --fs-xl: clamp(1.62rem, 1.3683rem + 1.2587vw, 2.3438rem);
  // (36) 25.92px - 37.5px
  --fs-xxl: clamp(1.944rem, 1.6012rem + 1.7142vw, 2.9297rem);
  // (48) 31.104px - 46.875px

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --ff-sans: "Montserrat", sans-serif;

  /* SPACING */
  --space-3xs: clamp(0.3125rem, 0.2908rem + 0.1087vw, 0.375rem);
  // 5px - 6px
  --space-2xs: clamp(0.5625rem, 0.4973rem + 0.3261vw, 0.75rem);
  // 9px - 12px
  --space-xs: clamp(0.875rem, 0.788rem + 0.4348vw, 1.125rem);
  // 14px - 18px
  --space-s: clamp(1.125rem, 0.9946rem + 0.6522vw, 1.5rem);
  // 18px - 24px
  --space-m: clamp(1.6875rem, 1.4918rem + 0.9783vw, 2.25rem);
  // 27px - 36px
  --space-l: clamp(2.25rem, 1.9891rem + 1.3043vw, 3rem);
  // 36px - 48px
  --space-xl: clamp(3.375rem, 2.9837rem + 1.9565vw, 4.5rem);
  // 54px - 72px
  --space-2xl: clamp(4.5rem, 3.9783rem + 2.6087vw, 6rem);
  // 72px - 96px
  --space-3xl: clamp(6.75rem, 5.9674rem + 3.913vw, 9rem);
  // 108px - 144px
  --space-4xl: clamp(9rem, 7.9565rem + 5.2174vw, 12rem);
  // 144px - 192px

  --space-s-l: clamp(1.125rem, 0.4728rem + 3.2609vw, 3rem);
  // 18px - 48px
  --space-s-2xl: clamp(1.125rem, -0.5707rem + 8.4783vw, 6rem);
  // 18px - 96px
  --space-m-l: clamp(1.6875rem, 1.231rem + 2.2826vw, 3rem);
  // 27px - 48px

  /* COLORS */
  --clr-primary: #ff6060;

  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #f6f6f6;
  --clr-neutral-400: #c4c4c4;
  --clr-neutral-900: #000000;

  /* BREAKPOINTS */
  $break-sm: 576px;
}
